{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px;">
    <a class="navbar-brand" href="">Todo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'task:list' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'task:timeout' %}">Timeout</a>
            </li>

        </ul>
    </div>
</nav>

<div class="card" style="margin-bottom: 10px;">
    <a class="btn btn-primary" href="{% url 'task:create' %}" role="button">+</a>
</div>
{% for obj in object_list %}
{% if obj.date_now|date:"Y M d" < obj.deadline|date:"Y M d" %}
<div class="card" style="margin-bottom: 10px;">
    <div class="card-body">
        <h5 class="card-title">{{ obj.get_priority_display }} : {{ obj.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ obj.deadline|date:"Y M d D" }}까지</h6>
        <p class="card-text">{{ obj.note }}</p>
        <a href="{% url 'task:complete' obj.id %}" class="btn btn-secondary btn-lg active" role="button"
           aria-pressed="true" style="width: 140px;">{{ obj.completed|yesno:"Complete, Uncomplete" }}</a>
        <a href="{% url 'task:delete' obj.id %}" class="btn btn-secondary btn-lg active" role="button"
           aria-pressed="true" style="width: 140px;">Delete</a>
    </div>
</div>
{% endif %}
{% endfor %}

{% endblock %}