{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 10px;">
    <a class="navbar-brand" href="">Todo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'task:list' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'task:timeout' %}">Timeout</a>
            </li>

        </ul>
    </div>
</nav>

<form action="" method="POST" enctype="multipart/form-data" class="">{% csrf_token %}
	{% for field in form %}
	<div class="form-group row">
		<label class="col-sm-2 col-form-label" for="{{ field.name }}">{{ field.label }}</label>
		<div class="col-sm-10">
			{{ field }}
		</div>
	</div>
	{% endfor %}
	<div class="form-group row">
		<div class="col-sm-10">
			<button type="submit" class="btn btn-default">Add Todo</button>
		</div>
	</div>
</form>

{% endblock %}